<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

<p>
  Splurty was built by Satinder Jamal. 
</p>

<p>
  Satinder Jamal is a former school counselor. She is on a mission to transition into a career in Web Development.
</p>

<div class="col-xs-12 col-sm-4">
  <%= image_tag 'satinder.jpg', class: 'img-responsive' %>
</div>
<br class="clear" />

<br class-"clear"  />
<br />
<br />
<br />
<br />
